### Setting up Spark Session

In [2]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MyApp").getOrCreate()

### Read csv file

In [16]:
emp1_df = spark.read.csv(path = r"D:\PySpark\csv files\employee1.csv", header = True, inferSchema = True)

In [17]:
display(emp1_df)

DataFrame[Age: int, BusinessTravel: string, DailyRate: int, Department: string, DistanceFromHome: int, Education: int, EducationField: string, EmployeeCount: int, EmployeeNumber: int, EnvironmentSatisfaction: int, Gender: string, HourlyRate: int, JobInvolvement: int, JobLevel: int, JobRole: string, JobSatisfaction: int, MaritalStatus: string, MonthlyIncome: int, MonthlyRate: int, NumCompaniesWorked: int, Over18: string, OverTime: string, PercentSalaryHike: int, PerformanceRating: int, RelationshipSatisfaction: int, StandardHours: int, StockOptionLevel: int, TotalWorkingYears: int, TrainingTimesLastYear: int, WorkLifeBalance: int, YearsAtCompany: int, YearsInCurrentRole: int, YearsSinceLastPromotion: int, YearsWithCurrManager: int]

In [18]:
emp1_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [8]:
emp1_df.show()

+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 34|    Travel_Rarely|      790|               Sales|              24|        4|         Medical|            1|          1489|                      1|Female|        40|             2|       2|     Sales Executive|              2|       Single|         4599|       7815|                 0|     Y|     Yes|               23|                4|                       3|           80|               0|               16|                    2|              4|            15|                 9|                     10|                  10|
| 35|    Travel_Rarely|      660|               Sales|               7|        1|   Life Sciences|            1|          1492|                      4|  Male|        76|             3|       1|Sales Representative|              3|      Married|         2404|      16192|                 1|     Y|      No|               13|                3|                       1|           80|               1|                1|                    3|              3|             1|                 0|                      0|                   0|
| 24|Travel_Frequently|      381|Research & Develo...|               9|        3|         Medical|            1|          1494|                      2|  Male|        89|             3|       1|Laboratory Techni...|              1|       Single|         3172|      16998|                 2|     Y|     Yes|               11|                3|                       3|           80|               0|                4|                    2|              2|             0|                 0|                      0|                   0|
| 24|       Non-Travel|      830|               Sales|              13|        2|   Life Sciences|            1|          1495|                      4|Female|        78|             3|       1|Sales Representative|              2|      Married|         2033|       7103|                 1|     Y|      No|               13|                3|                       3|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 44|Travel_Frequently|     1193|Research & Develo...|               2|        1|         Medical|            1|          1496|                      2|  Male|        86|             3|       3|Manufacturing Dir...|              3|       Single|        10209|      19719|                 5|     Y|     Yes|               18|                3|                       2|           80|               0|               16|                    2|              2|             2|                 2|                      2|                   2|
| 29|    Travel_Rarely|     1246|               Sales|              19|        3|   Life Sciences|            1|          1497|                      3|  Male|        77|             2|       2|     Sales Executive|              3|     Divorced|         8620|      23757|                 1|     Y|      No|               14|                3|                       3|           80|               2|               10|                    3|              3|            10|                 7|                      0|                   4|
| 30|    Travel_Rarely|      330|     Human Resources|               1|        3|   Life Sciences|            1|          1499|                      3|  Male|        46|             3|       1|     Human Resources|              3|     Divorced|         2064|      15428|                 0|     Y|      No|               21|                4|                       1|           80|               1|                6|                    3|              4|             5|                 3|                      1|                   3|
| 55|    Travel_Rarely|     1229|Research & Develo...|               4|        4|   Life Sciences|            1|          1501|                      4|  Male|        30|             3|       2|Healthcare Repres...|              3|      Married|         4035|      16143|                 0|     Y|     Yes|               16|                3|                       2|           80|               0|                4|                    2|              3|             3|                 2|                      1|                   2|
| 33|    Travel_Rarely|     1099|Research & Develo...|               4|        4|         Medical|            1|          1502|                      1|Female|        82|             2|       1|Laboratory Techni...|              2|      Married|         3838|       8192|                 8|     Y|      No|               11|                3|                       4|           80|               0|                8|                    5|              3|             5|                 4|                      0|                   2|
| 47|    Travel_Rarely|      571|               Sales|              14|        3|         Medical|            1|          1503|                      3|Female|        78|             3|       2|     Sales Executive|              3|      Married|         4591|      24200|                 3|     Y|     Yes|               17|                3|                       3|           80|               1|               11|                    4|              2|             5|                 4|                      1|                   2|
| 28|Travel_Frequently|      289|Research & Develo...|               2|        2|         Medical|            1|          1504|                      3|  Male|        38|             2|       1|Laboratory Techni...|              1|       Single|         2561|       5355|                 7|     Y|      No|               11|                3|                       3|           80|               0|                8|                    2|              2|             0|                 0|                      0|                   0|
| 28|    Travel_Rarely|     1423|Research & Develo...|               1|        3|   Life Sciences|            1|          1506|                      1|  Male|        72|             2|       1|  Research Scientist|              3|     Divorced|         1563|      12530|                 1|     Y|      No|               14|                3|                       4|           80|               1|                1|                    2|              1|             1|                 0|                      0|                   0|
| 28|Travel_Frequently|      467|               Sales|               7|        3|   Life Sciences|            1|          1507|                      3|  Male|        55|             3|       2|     Sales Executive|              1|       Single|         4898|      11827|                 0|     Y|      No|               14|                3|                       4|           80|               0|                5|                    5|              3|             4|                 2|                      1|                   3|
| 49|    Travel_Rarely|      271|Research & Develo...|               3|        2|         Medical|            1|          1509|                      3|Female|        43|             2|       2|Laboratory Techni...|              1|      Married|         4789|      23070|                 4|     Y|      No|               25|                4|                       1|           80|               1|               10|                    3|              3|             3|                 2|                      1|                   2|
| 29|Travel_Frequently|      410|Research & Develo...|               2|        1|   Life Sciences|            1|          1513|                      4|Female|        97|             3|       1|Laboratory Techni...|              2|      Married|         3180|       4668|                 0|     Y|      No|               13|                3|                       3|           80|               3|                4|                    3|              3|             3|                 2|                      0|                   2|
| 28|    Travel_Rarely|     1083|Research & Develo...|              29|        1|   Life Sciences|            1|          1514|                      3|  Male|        96|             1|       2|Manufacturing Dir...|              2|      Married|         6549|       3173|                 1|     Y|      No|               14|                3|                       2|           80|               2|                8|                    2|              2|             8|                 6|                      1|                   7|
| 33|    Travel_Rarely|      516|Research & Develo...|               8|        5|   Life Sciences|            1|          1515|                      4|  Male|        69|             3|       2|Healthcare Repres...|              3|       Single|         6388|      22049|                 2|     Y|     Yes|               17|                3|                       1|           80|               0|               14|                    6|              3|             0|                 0|                      0|                   0|
| 32|    Travel_Rarely|      495|Research & Develo...|              10|        3|         Medical|            1|          1516|                      3|  Male|        64|             3|       3|             Manager|              4|       Single|        11244|      21072|                 2|     Y|      No|               25|                4|                       2|           80|               0|               10|                    5|              4|             5|                 2|                      0|                   0|
| 54|Travel_Frequently|     1050|Research & Develo...|              11|        4|         Medical|            1|          1520|                      2|Female|        87|             3|       4|             Manager|              4|     Divorced|        16032|      24456|                 3|     Y|      No|               20|                4|                       1|           80|               1|               26|                    2|              3|            14|                 9|                      1|                  12|
| 29|    Travel_Rarely|      224|Research & Develo...|               1|        4|Technical Degree|            1|          1522|                      1|  Male|       100|             2|       1|  Research Scientist|              1|       Single|         2362|       7568|                 6|     Y|      No|               13|                3|                       3|           80|               0|               11|                    2|              1|             9|                 7|                      0|                   7|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [12]:
df2 = spark.read.format("csv").option(key = "header", value = "True").load(path = r"D:\PySpark\csv files\employee1.csv")

In [13]:
df2.show()

+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 34|    Travel_Rarely|      790|               Sales|              24|        4|         Medical|            1|          1489|                      1|Female|        40|             2|       2|     Sales Executive|              2|       Single|         4599|       7815|                 0|     Y|     Yes|               23|                4|                       3|           80|               0|               16|                    2|              4|            15|                 9|                     10|                  10|
| 35|    Travel_Rarely|      660|               Sales|               7|        1|   Life Sciences|            1|          1492|                      4|  Male|        76|             3|       1|Sales Representative|              3|      Married|         2404|      16192|                 1|     Y|      No|               13|                3|                       1|           80|               1|                1|                    3|              3|             1|                 0|                      0|                   0|
| 24|Travel_Frequently|      381|Research & Develo...|               9|        3|         Medical|            1|          1494|                      2|  Male|        89|             3|       1|Laboratory Techni...|              1|       Single|         3172|      16998|                 2|     Y|     Yes|               11|                3|                       3|           80|               0|                4|                    2|              2|             0|                 0|                      0|                   0|
| 24|       Non-Travel|      830|               Sales|              13|        2|   Life Sciences|            1|          1495|                      4|Female|        78|             3|       1|Sales Representative|              2|      Married|         2033|       7103|                 1|     Y|      No|               13|                3|                       3|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 44|Travel_Frequently|     1193|Research & Develo...|               2|        1|         Medical|            1|          1496|                      2|  Male|        86|             3|       3|Manufacturing Dir...|              3|       Single|        10209|      19719|                 5|     Y|     Yes|               18|                3|                       2|           80|               0|               16|                    2|              2|             2|                 2|                      2|                   2|
| 29|    Travel_Rarely|     1246|               Sales|              19|        3|   Life Sciences|            1|          1497|                      3|  Male|        77|             2|       2|     Sales Executive|              3|     Divorced|         8620|      23757|                 1|     Y|      No|               14|                3|                       3|           80|               2|               10|                    3|              3|            10|                 7|                      0|                   4|
| 30|    Travel_Rarely|      330|     Human Resources|               1|        3|   Life Sciences|            1|          1499|                      3|  Male|        46|             3|       1|     Human Resources|              3|     Divorced|         2064|      15428|                 0|     Y|      No|               21|                4|                       1|           80|               1|                6|                    3|              4|             5|                 3|                      1|                   3|
| 55|    Travel_Rarely|     1229|Research & Develo...|               4|        4|   Life Sciences|            1|          1501|                      4|  Male|        30|             3|       2|Healthcare Repres...|              3|      Married|         4035|      16143|                 0|     Y|     Yes|               16|                3|                       2|           80|               0|                4|                    2|              3|             3|                 2|                      1|                   2|
| 33|    Travel_Rarely|     1099|Research & Develo...|               4|        4|         Medical|            1|          1502|                      1|Female|        82|             2|       1|Laboratory Techni...|              2|      Married|         3838|       8192|                 8|     Y|      No|               11|                3|                       4|           80|               0|                8|                    5|              3|             5|                 4|                      0|                   2|
| 47|    Travel_Rarely|      571|               Sales|              14|        3|         Medical|            1|          1503|                      3|Female|        78|             3|       2|     Sales Executive|              3|      Married|         4591|      24200|                 3|     Y|     Yes|               17|                3|                       3|           80|               1|               11|                    4|              2|             5|                 4|                      1|                   2|
| 28|Travel_Frequently|      289|Research & Develo...|               2|        2|         Medical|            1|          1504|                      3|  Male|        38|             2|       1|Laboratory Techni...|              1|       Single|         2561|       5355|                 7|     Y|      No|               11|                3|                       3|           80|               0|                8|                    2|              2|             0|                 0|                      0|                   0|
| 28|    Travel_Rarely|     1423|Research & Develo...|               1|        3|   Life Sciences|            1|          1506|                      1|  Male|        72|             2|       1|  Research Scientist|              3|     Divorced|         1563|      12530|                 1|     Y|      No|               14|                3|                       4|           80|               1|                1|                    2|              1|             1|                 0|                      0|                   0|
| 28|Travel_Frequently|      467|               Sales|               7|        3|   Life Sciences|            1|          1507|                      3|  Male|        55|             3|       2|     Sales Executive|              1|       Single|         4898|      11827|                 0|     Y|      No|               14|                3|                       4|           80|               0|                5|                    5|              3|             4|                 2|                      1|                   3|
| 49|    Travel_Rarely|      271|Research & Develo...|               3|        2|         Medical|            1|          1509|                      3|Female|        43|             2|       2|Laboratory Techni...|              1|      Married|         4789|      23070|                 4|     Y|      No|               25|                4|                       1|           80|               1|               10|                    3|              3|             3|                 2|                      1|                   2|
| 29|Travel_Frequently|      410|Research & Develo...|               2|        1|   Life Sciences|            1|          1513|                      4|Female|        97|             3|       1|Laboratory Techni...|              2|      Married|         3180|       4668|                 0|     Y|      No|               13|                3|                       3|           80|               3|                4|                    3|              3|             3|                 2|                      0|                   2|
| 28|    Travel_Rarely|     1083|Research & Develo...|              29|        1|   Life Sciences|            1|          1514|                      3|  Male|        96|             1|       2|Manufacturing Dir...|              2|      Married|         6549|       3173|                 1|     Y|      No|               14|                3|                       2|           80|               2|                8|                    2|              2|             8|                 6|                      1|                   7|
| 33|    Travel_Rarely|      516|Research & Develo...|               8|        5|   Life Sciences|            1|          1515|                      4|  Male|        69|             3|       2|Healthcare Repres...|              3|       Single|         6388|      22049|                 2|     Y|     Yes|               17|                3|                       1|           80|               0|               14|                    6|              3|             0|                 0|                      0|                   0|
| 32|    Travel_Rarely|      495|Research & Develo...|              10|        3|         Medical|            1|          1516|                      3|  Male|        64|             3|       3|             Manager|              4|       Single|        11244|      21072|                 2|     Y|      No|               25|                4|                       2|           80|               0|               10|                    5|              4|             5|                 2|                      0|                   0|
| 54|Travel_Frequently|     1050|Research & Develo...|              11|        4|         Medical|            1|          1520|                      2|Female|        87|             3|       4|             Manager|              4|     Divorced|        16032|      24456|                 3|     Y|      No|               20|                4|                       1|           80|               1|               26|                    2|              3|            14|                 9|                      1|                  12|
| 29|    Travel_Rarely|      224|Research & Develo...|               1|        4|Technical Degree|            1|          1522|                      1|  Male|       100|             2|       1|  Research Scientist|              1|       Single|         2362|       7568|                 6|     Y|      No|               13|                3|                       3|           80|               0|               11|                    2|              1|             9|                 7|                      0|                   7|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [15]:
df2.printSchema()

root
 |-- Age: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: string (nullable = true)
 |-- EmployeeNumber: string (nullable = true)
 |-- EnvironmentSatisfaction: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: string (nullable = true)
 |-- MonthlyRate: string (nullable = true)
 |-- NumCompaniesWorked: string (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: string (nullable = true)
 |-- PerformanceRating: string (nullable = true)
 |-- RelationshipSatisfaction: string (nullable = true)
 |-- StandardHours: string (nullable = true)
 |-- StockOptionLevel: string (nullable = true)
 |-- TotalWorkingYears: string (nullable = true)
 |-- TrainingTimesLastYear: string (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- YearsAtCompany: string (nullable = true)
 |-- YearsInCurrentRole: string (nullable = true)
 |-- YearsSinceLastPromotion: string (nullable = true)
 |-- YearsWithCurrManager: string (nullable = true)

### Reading 2 different csv files into 1 Dataframe

In [19]:
df3 = spark.read.csv(path = [r"D:\PySpark\csv files\employee1.csv", r"D:\PySpark\csv files\employee2.csv"], header = True, inferSchema = True)

In [20]:
df3.head()

Row(Age=34, BusinessTravel='Travel_Rarely', DailyRate=790, Department='Sales', DistanceFromHome=24, Education=4, EducationField='Medical', EmployeeCount=1, EmployeeNumber=1489, EnvironmentSatisfaction=1, Gender='Female', HourlyRate=40, JobInvolvement=2, JobLevel=2, JobRole='Sales Executive', JobSatisfaction=2, MaritalStatus='Single', MonthlyIncome=4599, MonthlyRate=7815, NumCompaniesWorked=0, Over18='Y', OverTime='Yes', PercentSalaryHike=23, PerformanceRating=4, RelationshipSatisfaction=3, StandardHours=80, StockOptionLevel=0, TotalWorkingYears=16, TrainingTimesLastYear=2, WorkLifeBalance=4, YearsAtCompany=15, YearsInCurrentRole=9, YearsSinceLastPromotion=10, YearsWithCurrManager=10)

In [21]:
df3.show()

+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 34|    Travel_Rarely|      790|               Sales|              24|        4|         Medical|            1|          1489|                      1|Female|        40|             2|       2|     Sales Executive|              2|       Single|         4599|       7815|                 0|     Y|     Yes|               23|                4|                       3|           80|               0|               16|                    2|              4|            15|                 9|                     10|                  10|
| 35|    Travel_Rarely|      660|               Sales|               7|        1|   Life Sciences|            1|          1492|                      4|  Male|        76|             3|       1|Sales Representative|              3|      Married|         2404|      16192|                 1|     Y|      No|               13|                3|                       1|           80|               1|                1|                    3|              3|             1|                 0|                      0|                   0|
| 24|Travel_Frequently|      381|Research & Develo...|               9|        3|         Medical|            1|          1494|                      2|  Male|        89|             3|       1|Laboratory Techni...|              1|       Single|         3172|      16998|                 2|     Y|     Yes|               11|                3|                       3|           80|               0|                4|                    2|              2|             0|                 0|                      0|                   0|
| 24|       Non-Travel|      830|               Sales|              13|        2|   Life Sciences|            1|          1495|                      4|Female|        78|             3|       1|Sales Representative|              2|      Married|         2033|       7103|                 1|     Y|      No|               13|                3|                       3|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 44|Travel_Frequently|     1193|Research & Develo...|               2|        1|         Medical|            1|          1496|                      2|  Male|        86|             3|       3|Manufacturing Dir...|              3|       Single|        10209|      19719|                 5|     Y|     Yes|               18|                3|                       2|           80|               0|               16|                    2|              2|             2|                 2|                      2|                   2|
| 29|    Travel_Rarely|     1246|               Sales|              19|        3|   Life Sciences|            1|          1497|                      3|  Male|        77|             2|       2|     Sales Executive|              3|     Divorced|         8620|      23757|                 1|     Y|      No|               14|                3|                       3|           80|               2|               10|                    3|              3|            10|                 7|                      0|                   4|
| 30|    Travel_Rarely|      330|     Human Resources|               1|        3|   Life Sciences|            1|          1499|                      3|  Male|        46|             3|       1|     Human Resources|              3|     Divorced|         2064|      15428|                 0|     Y|      No|               21|                4|                       1|           80|               1|                6|                    3|              4|             5|                 3|                      1|                   3|
| 55|    Travel_Rarely|     1229|Research & Develo...|               4|        4|   Life Sciences|            1|          1501|                      4|  Male|        30|             3|       2|Healthcare Repres...|              3|      Married|         4035|      16143|                 0|     Y|     Yes|               16|                3|                       2|           80|               0|                4|                    2|              3|             3|                 2|                      1|                   2|
| 33|    Travel_Rarely|     1099|Research & Develo...|               4|        4|         Medical|            1|          1502|                      1|Female|        82|             2|       1|Laboratory Techni...|              2|      Married|         3838|       8192|                 8|     Y|      No|               11|                3|                       4|           80|               0|                8|                    5|              3|             5|                 4|                      0|                   2|
| 47|    Travel_Rarely|      571|               Sales|              14|        3|         Medical|            1|          1503|                      3|Female|        78|             3|       2|     Sales Executive|              3|      Married|         4591|      24200|                 3|     Y|     Yes|               17|                3|                       3|           80|               1|               11|                    4|              2|             5|                 4|                      1|                   2|
| 28|Travel_Frequently|      289|Research & Develo...|               2|        2|         Medical|            1|          1504|                      3|  Male|        38|             2|       1|Laboratory Techni...|              1|       Single|         2561|       5355|                 7|     Y|      No|               11|                3|                       3|           80|               0|                8|                    2|              2|             0|                 0|                      0|                   0|
| 28|    Travel_Rarely|     1423|Research & Develo...|               1|        3|   Life Sciences|            1|          1506|                      1|  Male|        72|             2|       1|  Research Scientist|              3|     Divorced|         1563|      12530|                 1|     Y|      No|               14|                3|                       4|           80|               1|                1|                    2|              1|             1|                 0|                      0|                   0|
| 28|Travel_Frequently|      467|               Sales|               7|        3|   Life Sciences|            1|          1507|                      3|  Male|        55|             3|       2|     Sales Executive|              1|       Single|         4898|      11827|                 0|     Y|      No|               14|                3|                       4|           80|               0|                5|                    5|              3|             4|                 2|                      1|                   3|
| 49|    Travel_Rarely|      271|Research & Develo...|               3|        2|         Medical|            1|          1509|                      3|Female|        43|             2|       2|Laboratory Techni...|              1|      Married|         4789|      23070|                 4|     Y|      No|               25|                4|                       1|           80|               1|               10|                    3|              3|             3|                 2|                      1|                   2|
| 29|Travel_Frequently|      410|Research & Develo...|               2|        1|   Life Sciences|            1|          1513|                      4|Female|        97|             3|       1|Laboratory Techni...|              2|      Married|         3180|       4668|                 0|     Y|      No|               13|                3|                       3|           80|               3|                4|                    3|              3|             3|                 2|                      0|                   2|
| 28|    Travel_Rarely|     1083|Research & Develo...|              29|        1|   Life Sciences|            1|          1514|                      3|  Male|        96|             1|       2|Manufacturing Dir...|              2|      Married|         6549|       3173|                 1|     Y|      No|               14|                3|                       2|           80|               2|                8|                    2|              2|             8|                 6|                      1|                   7|
| 33|    Travel_Rarely|      516|Research & Develo...|               8|        5|   Life Sciences|            1|          1515|                      4|  Male|        69|             3|       2|Healthcare Repres...|              3|       Single|         6388|      22049|                 2|     Y|     Yes|               17|                3|                       1|           80|               0|               14|                    6|              3|             0|                 0|                      0|                   0|
| 32|    Travel_Rarely|      495|Research & Develo...|              10|        3|         Medical|            1|          1516|                      3|  Male|        64|             3|       3|             Manager|              4|       Single|        11244|      21072|                 2|     Y|      No|               25|                4|                       2|           80|               0|               10|                    5|              4|             5|                 2|                      0|                   0|
| 54|Travel_Frequently|     1050|Research & Develo...|              11|        4|         Medical|            1|          1520|                      2|Female|        87|             3|       4|             Manager|              4|     Divorced|        16032|      24456|                 3|     Y|      No|               20|                4|                       1|           80|               1|               26|                    2|              3|            14|                 9|                      1|                  12|
| 29|    Travel_Rarely|      224|Research & Develo...|               1|        4|Technical Degree|            1|          1522|                      1|  Male|       100|             2|       1|  Research Scientist|              1|       Single|         2362|       7568|                 6|     Y|      No|               13|                3|                       3|           80|               0|               11|                    2|              1|             9|                 7|                      0|                   7|
+---+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [22]:
df3.count()

824

### Reading all csv files in a folder

In [28]:
df4 = spark.read.csv(path = 'D:/PySpark/csv files/', header = True)

Py4JJavaError: An error occurred while calling o93.csv.
: java.lang.UnsatisfiedLinkError: 'boolean org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(java.lang.String, int)'
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1249)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1454)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.spark.util.HadoopFSUtils$.listLeafFiles(HadoopFSUtils.scala:225)
	at org.apache.spark.util.HadoopFSUtils$.$anonfun$parallelListLeafFilesInternal$1(HadoopFSUtils.scala:95)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:286)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at scala.collection.TraversableLike.map(TraversableLike.scala:286)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:279)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.util.HadoopFSUtils$.parallelListLeafFilesInternal(HadoopFSUtils.scala:85)
	at org.apache.spark.util.HadoopFSUtils$.parallelListLeafFiles(HadoopFSUtils.scala:69)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex$.bulkListLeafFiles(InMemoryFileIndex.scala:162)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.listLeafFiles(InMemoryFileIndex.scala:133)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.refresh0(InMemoryFileIndex.scala:96)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.<init>(InMemoryFileIndex.scala:68)
	at org.apache.spark.sql.execution.datasources.DataSource.createInMemoryFileIndex(DataSource.scala:539)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:405)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:538)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:76)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)